<?xml version="1.0"?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="ambab" translate="label" sortOrder="250">
			<label>AMBAB</label>
		</tab>
		<section id="ambab_emi" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>ambab-separator</class>
			<label>EMI Calculator</label>
			<tab>ambab</tab>
			<resource>Ambab_EmiCalculator::config</resource>
			<group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Module Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>